
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Orbitron:wght@500&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Michroma&family=Orbitron:wght@500&family=Text+Me+One&display=swap');

#mission{
    font-size: 88px;
}
#starshot{
	float:left;
	margin: 2%;
	margin-bottom: 5%;
	margin-top: 5%;
}
#insta{
	width: 300px;
}
body {

    background-color: black;
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */

}

h1 {
	font-family: 'Michroma', sans-serif;  
		font-weight: bold;

	/* text-shadow: 3px 3px 3px purple; */
}

h2 {
	font-family: 'Michroma', sans-serif;    /* text-shadow: 3px 3px 3px purple; */
			font-weight: bold;

	font-size: 30px;
    /* text-shadow: 3px 3px 3px purple; */
}
p {
	font-family: 'Metrophobic', sans-serif;
		font-weight: bold;

}

hr {
    border-color: black;
}

.fplogo {
    padding-bottom: 7px;
}

#social{
    display: flex;
    color: black;
}
#github{
	color: black;
	 
}
#linkedin{
	color: #0072b1
}